header {
  font-size: 16px;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(250, 250, 250, 0)), to(black)), url(/images/foto-camp-2.jpg);
  background: linear-gradient(to top, rgba(250, 250, 250, 0), black), url(/images/foto-camp-2.jpg);
  background-size: cover;
  z-index: -1;
}

header .cont-reserva {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 600px;
}

header .cont-reserva h2 {
  color: #dbd2d2;
  font-family: 'Comfortaa', cursive;
}

header .cont-reserva .btn-reservar {
  position: relative;
  display: block;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
  font-weight: bold;
  max-width: 320px;
  height: 45px;
  margin-bottom: 60px;
  overflow: hidden;
  color: white;
  cursor: pointer;
  letter-spacing: 1px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  background: #10b87a2d;
}

header .cont-reserva .btn-reservar::after, header .cont-reserva .btn-reservar::before {
  width: 80px;
  height: 200px;
  content: '';
  display: block;
  background: rgba(255, 255, 255, 0.5);
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  top: -100px;
  position: absolute;
  -webkit-transition: none;
  transition: none;
  right: -75%;
  cursor: pointer;
}

header .cont-reserva .btn-reservar::before {
  left: -48%;
}

header .cont-reserva .btn-reservar:hover {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  background: #12c9868f;
}

header .cont-reserva .btn-reservar:hover::after, header .cont-reserva .btn-reservar:hover::before {
  -webkit-transform: rotate(45deg), scaleX(130%);
          transform: rotate(45deg), scaleX(130%);
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

header .cont-reserva .btn-reservar:hover::after {
  right: 130%;
}

header .cont-reserva .btn-reservar:hover::before {
  left: 130%;
}

header .cont-reserva .quintoLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 23px;
  cursor: pointer;
}

header .cont-reserva .quintoLogo:active {
  width: 202px;
  height: 24px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: inherit;
      flex-wrap: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  height: 90px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.922);
  position: fixed;
  z-index: 3;
}

header nav ul {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  z-index: 2;
}

header nav ul li {
  color: #b9afaf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
}

header nav ul li:hover {
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  color: white;
}

header nav ul li:active {
  -webkit-transition: ease-in-out 0.1s;
  transition: ease-in-out 0.1s;
  font-size: 15.5px;
}

header nav ul li:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 21%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  border-radius: 3px;
  padding: 8px 10px;
  color: #c2bdbd;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  border: 0.1px solid #fffdfd;
}

header nav ul li:last-child:hover {
  color: black;
  background-color: #ddd2d2;
}

header nav ul li:last-child:active {
  -webkit-transition: ease-in-out;
  transition: ease-in-out;
  background-color: #00fb865e;
  color: white;
}

header nav ul li:last-child .fa-user-circle {
  color: #13b9ab;
  font-size: 25px;
}

header nav .logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 130px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

header nav .logos .playerLogo {
  width: 30px;
  opacity: 70%;
}

header nav .logos .quintoLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 147px;
  height: 18px;
  cursor: pointer;
}

header nav .logos .quintoLogo:active {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  width: 158px;
  height: 19px;
}

main {
  width: 100%;
}

main .playerSlide {
  width: 600px;
  margin-left: 230px;
  opacity: 5%;
}

main .sec-1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(18, 136, 4, 0.185)), to(rgba(0, 0, 0, 0.787))), url(/images/img-noise-1.png);
  background: linear-gradient(to bottom, rgba(18, 136, 4, 0.185), rgba(0, 0, 0, 0.787)), url(/images/img-noise-1.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%;
  background-color: #fff;
  padding-bottom: 100px;
}

main .sec-1 .sec-1-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  border-top: 5px solid #c8d3b3;
}

main .sec-1 .sec-1-start .sec-1-title {
  width: 100%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #67875d;
  text-shadow: 0 2px 1px #79a06d, -1px 3px 1px #82ad75, -2px 5px 1px #8ebf80;
}

main .sec-1 .sec-1-start img {
  width: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .sec-1 .sec-1-start img:first-child {
  margin-left: 40px;
}

main .sec-1 .sec-1-start img:last-child {
  margin-right: 40px;
}

main .sec-1 .camps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

main .sec-1 .camps .select-camp {
  width: 46%;
  padding: 20px;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #000301b4;
  border-radius: 3px;
  -webkit-box-shadow: 3px 3px 9px #161616;
          box-shadow: 3px 3px 9px #161616;
  max-height: 250px;
}

main .sec-1 .camps .select-camp .camp-text {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .sec-1 .camps .select-camp .camp-text h4 {
  text-align: center;
  color: #f4f803;
  border: 1px solid white;
  padding: 1px 10px;
  border-radius: 5px;
  width: 100%;
}

main .sec-1 .camps .select-camp .camp-text p {
  color: white;
  font-size: 15px;
  text-align: center;
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
}

main .sec-1 .camps .select-camp .camp-text .btn-reservar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  font-family: 'Poppins', sans-serif;
  border-radius: 7px;
  border: 0;
  padding: 7px 15px;
  background-color: rgba(187, 245, 204, 0.226);
  color: white;
  cursor: pointer;
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

main .sec-1 .camps .select-camp .camp-text .btn-reservar:hover {
  -webkit-transition: all .6s;
  transition: all .6s;
  background-color: rgba(199, 241, 212, 0.692);
  color: #152b01;
  font-weight: bold;
}

main .sec-1 .camps .select-camp .camp-text .btn-reservar:active {
  -webkit-transition: all .1s;
  transition: all .1s;
  background-color: #fff;
}

main .aboutUs-cont {
  width: 100%;
  background-color: black;
}

main .aboutUs-cont .slides {
  width: 100%;
  height: 340px;
}

main .aboutUs-cont .slides .mySlides {
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  max-width: none;
  position: relative;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 340px;
  overflow: hidden;
  pointer-events: none;
}

main .aboutUs-cont .aboutUs {
  background-image: url(/images/img-noise-1.png);
  width: 100%;
}

main .aboutUs-cont .aboutUs .aboutUs-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .aboutUs-cont .aboutUs .aboutUs-description .image {
  padding: 10px;
  border-radius: 5px;
}

main .aboutUs-cont .aboutUs .aboutUs-description .image img {
  width: 300px;
  border-radius: 15px;
}
/*# sourceMappingURL=style.css.map */